<h1 class="page-header">Posts</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">{{ message }}</div>
</div>
<button
  type="button"
  name="button"
  class="btn btn-warning"
  *ngIf="!newPost"
  (click)="newBlogForm()"
>
  New Post
</button>
<button
  [disabled]="loadingBlogs"
  type="button"
  name="button"
  class="btn btn-default"
  *ngIf="!newPost"
  (click)="reloadBlogs()"
>
  Reload
</button>
<div *ngIf="newPost">
  <form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()">
    <div class="form-group">
      <input
        type="text"
        name="title"
        class="form-control"
        autocomplete="off"
        placeholder="*Title"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="excerpt"
        class="form-control"
        autocomplete="off"
        placeholder="*Excerpt"
        formControlName="excerpt"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="blog"
        class="form-control"
        autocomplete="off"
        placeholder="*Blog"
        formControlName="blog"
      />
    </div>
    <div class="form-group">
      <select name="category" formControlName="category">
        <option value="">Select category</option>
        <option *ngFor="let category of categories" [ngValue]="category._id">{{
          category.title
        }}</option>
      </select>
    </div>

    <button
      [disabled]="processing"
      class="btn"
      type="button"
      name="button"
      (click)="goBack()"
    >
      Go Back
    </button>
    <button
      [disabled]="processing"
      class="btn-success "
      type="submit"
      name="button"
    >
      Create Post
    </button>
  </form>
</div>
<div *ngIf="!newPost">
  <div class="panel panel-group" *ngFor="let blog of blogPosts">
    <div class="panel panel-primary">
      <div class="panel-header">
        <div class="panel panel-heading">
          <h3>{{ blog.title }}</h3>
        </div>
        <div class="panel panel-info">
          <div class="panel-body">{{ blog.excerpt }}</div>
        </div>
      </div>
      <div class="panel panel-body">{{ blog.blog }}</div>
      <div class="panel panel-footer">
        {{ blog.date | date: "MMM dd, yyyy" }}
      </div>
      <div class="panel panel-footer">
        <a [routerLink]="['/edit-blog', blog._id]" class="btn btn-info"
          >Edit blog</a
        >
      </div>
    </div>
  </div>
</div>
