<nav>
  <ul>
    <li
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a routerLink="/home">Home</a>
    </li>
    <li
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a *ngIf="!authService.loggedIn()" routerLink="/dashboard">Dashboard</a>
      <a *ngIf="authService.loggedIn()" routerLink="/login">Login</a>
      <a *ngIf="!authService.loggedIn()" href="#" (click)="onLogoutClick()"
        >Logout
      </a>
    </li>
  </ul>
</nav>
